<h1>Users in <%= @group.name %></h1>

<ul>
  <% @group.users.each do |user| %>
    <li><%= user.name %></li>
  <% end %>
</ul>

<h2>Add a User to this Group</h2>

<%= form_with(model: [@group, @group_user], local: true) do |form| %>
  <div>
    <%= form.label :user_name %>
    <%= form.text_field :user_name %>
  </div>

  <%= form.submit "Add User" %>
<% end %>
