<h1>Edit <%= @group.name %></h1>

<%= form_with(model: @group, local: true) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <%= form.submit "Update Group" %>
<% end %>
